*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.disappear {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  white-space: nowrap;
}

button:disabled {
  cursor: not-allowed;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-green-500;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* auto scrolling the message container */

#message-container * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}
