@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.disappear {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  white-space: nowrap;
}

button:disabled {
  cursor: not-allowed;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-green-500;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* auto scrolling the message container */

#message-container * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

/* home page */

.home-bg {
  min-height: 50vh;
  background-color: black;
  /* background-image: url(./assets/messages.jpg); */
  background-image: url(./assets/man-holding-phone.jpg);
  background-position: 0 20%;
  background-repeat: no-repeat;
  /* object-fit: contain; */
  /*  object-position: top; */
  background-size: cover;
  width: 100%;
  height: 100%;
}

.start-btn {
  background-color: #00ffa3;
}

/* media query  */
@media only screen and (max-width: 480px) {
  .home-bg {
    background-position: center;
  }
}
@media only screen and (max-height: 600px) {
  .main-auth {
    margin-top: 1rem;
  }
}
